body {
  background: #fff;
  color: #222;
  font-family: "manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#excel img {
  width: 40px !important;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

strong {
  font-weight: bold;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #222;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  color: #222;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

.main-content {
  padding-top: 140px;
}

#ind_pag{
  font-weight: 400 !important;
}

#dcf .dcf-image {
  width: 100% !important;
  padding-right: 15px;
  image-rendering: smooth;
}

.head1 {
  font-size: 22px;
  font-weight: bold !important;
}

strong {
  font-weight: 600 !important;
  font-size: 15px !important;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  height: 400px;
  margin-top: 70px;
}

.subscribe__title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.subscribe__copy {
  max-width: 600px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}

.form {
  margin-bottom: 25px;
}

.form__email {
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #CAD3DB;
  width: 431px;
  font-size: 18px;
  color: #0F121F;
}

.form__email:focus {
  outline: 1px solid #222;
}

.form__button {
  background: #222;
  padding: 10px;
  border: none;
  width: 244px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  transition: 0.5s all;
}

.form__button:hover {
  background: #222;
  box-shadow: 0 2px 5px #222;
}

/*--------------------------------------------------------------
# Hero & Header New
--------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'manrope', sans-serif;
}

.loader-bg{
  position: fixed;
  z-index: 99999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader-bg:before, .loader-bg:after{
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-bg:before{
  animation-delay: 0.5s;
}

@keyframes loader{
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.container-hero{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0;
  align-items: center;
  position: relative;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  margin-top: 10px;
}

.logo{
  width: 50px;
  margin-top: 10px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 0px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a{
  color: #222;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 5px;
  right: 0%;
  transform: translateX(-30%);
  background: #222;
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 30%;
  color: #222 !important;
}

.text-box{
  color: #222;
  position: absolute;
  bottom: 20%;
}

.text-box p{
  font-size: 50px;
  font-weight: 800;
  line-height: 10px;
}

.text-box h1{
  font-family: "poppins", sans-serif;
  font-size: 120px;
  line-height: 120px;
  margin-left: -10px;
  margin-bottom: 10px;
  font-weight: 800;
  margin-top: -21px;
}

.text-box h1 span{
  font-family: "poppins", sans-serif;
  font-size: 120px;
  line-height: 120px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #222;
  background: url('../img/back.png');
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  font-weight: 800;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.text-box h3{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px !important;
}

.text-box .row-hero{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 60%;
}

.social-icons{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 14px;
}

.catch_image{
  background-image: url('../img/hero_img.jpg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.75s ease;
  filter: grayscale(100%); /* Standard */
  -webkit-filter: grayscale(100%); /* Webkit */
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); /* Firefox4-34*/
  filter: gray;  /* IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.catch_image:hover {
  -webkit-filter: none;
  filter:none;
  -moz-transform: translate(2px, -2px);
  -ms-transform: translate(2px, -2px);
  -o-transform: translate(2px, -2px);
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px)
}

.social-icons i{
  transition: all 0.5s ease;
  font-size: 30px;
  display: block;
  margin: 0;
  color: #222;
}

.social-icons i:hover{
  color: #abfe00;
}

.linkedin{
  width: 40px !important;
}

/*--------------------------------------------------------------
# Scroll Text
--------------------------------------------------------------*/

.scrolling-text{
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  height: 110vw;
  overflow-x: hidden;
}
.scrolling-text h1{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  position: fixed;
  top: 50%;
  transform: translateY(-40%);
  white-space: nowrap;
  font-size: 120px;
  left: 100vw;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
  font-size: 30px;
  margin: 30px 0;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #222;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #000;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 0;
  top: 0%;
}

#header.header-scrolled, #header.header-inner-pages {
  top: 0;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "manrope", sans-serif;
  font-style: italic;
}
#header .logo a {
  color: #898989;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 10px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  justify-content: flex-end;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 40px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a img, .navbar a:focus img {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #000;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  width: 20px;
  color: #222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  justify-content: flex-end !important;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
    width: 20px;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.9);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4b4a4a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #b8a07e;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a img {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #b8a07e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#portfolio1 {
  height: 100%;
  max-width: 100%;
}

#portfolio1 img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 60px 0 0 0;
  background-color: white;
  min-height: 40px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    padding-top: 100px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
  width: 100%;
  height: auto;
  padding-top: 180px;
}

#about .div-img-bg {
  padding-bottom: 20px;
  border: 20px solid #222;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: "manrope", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
}

.about-descr {
}

#about .about-descr .separator {
  max-width: 90%;
  margin-bottom: 0;
  text-align: left;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  position: relative;
  padding-bottom: 80px;
}

.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #222;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.services-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.services-block i {
  font-size: 44px;
  color: #777;
  line-height: 44px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  position: relative;
  padding-bottom: 50px;
}
#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}
#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  color: #222;
}
#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
#portfolio .portfolio-item {
  margin-bottom: 10px;
  padding-right: 0px;
}

.portfolio-info a img {
  margin-bottom: 1px !important;
  width: 25px !important;
  margin-left: 5px;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}
#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 20px;
  color: #222;
  font-weight: 700;
  margin-bottom: 5px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #222;
  margin: 0;
  padding: 0;
}
#portfolio .portfolio-item .portfolio-info .preview-link, #portfolio .portfolio-item .portfolio-info .details-link {
  right: 40px;
  font-size: 20px;
  color: #222;
}
#portfolio .portfolio-item .portfolio-info .preview-link:hover, #portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #000;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #b8a07e;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b8a07e;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 17px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio-description img {
  width: 5% !important;
  margin-right: 10px; 
}

#dcf .dcf-image {
  width: 100% !important;
  padding-right: 15px;
  image-rendering: smooth;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #222;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #000;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

.contact {
  padding: 30px 0;
  text-align: center;
}

.touch span {
  color: #ccc;
}

.contact .touch a {
  color: #222;
  position: relative;
  font-weight: 600;
  text-decoration: none !important;
}

.contact .touch a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 5px;
  right: 0%;
  transform: translateX(-30%);
  background: #222;
  transition: width 0.3s;
}

.contact .touch a:hover::after{
  width: 50%;
  color: #222 !important;
}

/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  nav {
    padding: 10px 15px;
  }

  .social-icons {
    float: none;
    margin-right:0;
    width:auto;
    border:0; 
  }

  .text-box {
    bottom: 15%;
  }


  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .container-hero {
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  #hero .hero-content {
    width: 50%;
    margin-left: 190px;
  }

  /* About */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
    max-width: 50%;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
    max-height: 50%
  }

  #about .about-descr .p-heading {
    font-size: 30px;
    margin-top: 50px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  #portfolio-details {
    background: url("../img/portfolio-details.png") repeat scroll center center/cover;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    padding: 0 100px;
  } 

  .subscribe__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subscribe__copy {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .form {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0F121F;
  }
  .form__button {
    background: #222;
    padding: 10px;
    border: none;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    transition: 0.5s all;
  }
}
/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 767px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .text-box {
    bottom: 15%;
  }


  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  #hero .hero-content {
    width: 70%;
    margin-left: 100px;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
    max-width: 50%;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 30px;
    margin-top: 50px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    padding: 0 100px;
  } 

  .subscribe__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subscribe__copy {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .form {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0F121F;
  }
  .form__button {
    background: #222;
    padding: 10px;
    border: none;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-bottom: 70px;
    transition: 0.5s all;
  }
}
/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .text-box {
    bottom: 10%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  #hero .hero-content {
    width: 80%;
    margin-left: 70px;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
    max-width: 100%;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    margin-top: 50px;
    font-size: 30px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 10px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    padding: 0 100px;
  } 

  .subscribe__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subscribe__copy {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .form {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0F121F;
  }
  .form__button {
    background: #222;
    padding: 10px;
    border: none;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-bottom: 70px;
    transition: 0.5s all;
  }
}
/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .text-box h1 {
    font-size: 80px;
  }

  .text-box h1 span {
    font-size: 60px;
  }

  .text-box {
    bottom: 10%;
  }

  .text-box h3 {
    font-size: 22px;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content {
    height: 55vh;
  }

  .hero-img-bg .hero-img img {
    max-width: 100%;
    margin: 0px 0px 50px 0px;
    height: 100%;
  }

  #hero .hero-content {
    width: 80%;
    margin-left: 46px;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
    max-width: 100%; 
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
    margin-top: 50px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    padding: 0 100px;
  } 

  .subscribe__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subscribe__copy {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .form {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0F121F;
  }
  .form__button {
    background: #222;
    padding: 10px;
    border: none;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-bottom: 70px;
    transition: 0.5s all;
  }
}
/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .scrolling-text {
    font-size: 90px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .text-box h1 {
    font-size: 60px;
  }

  .text-box h1 span {
    font-size: 60px;
  }

  .text-box {
    bottom: 10%;
  }

  .text-box h3 {
    font-size: 20px;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  #hero .hero-content {
    height: 55vh;
    width: 50%;
    margin-left: 46px;
  }

  .hero-img-bg .hero-img img {
    max-width: 100%;
    margin: 0px 0px 50px 0px;
    height: 100%;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
    max-width: 100%;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 30px;
    margin-top: 50px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 200px;
    padding: 0 20px;
  } 

  .subscribe__title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subscribe__copy {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .form {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #0F121F;
  }
  .form__button {
    background: #222;
    padding: 10px;
    border: none;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-bottom: 70px;
    transition: 0.5s all;
  }
